body{
    background-color: antiquewhite;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

th, td {
    padding: 15px;
  }

h1.title{
    text-align: center;
}

p.title{
    text-align: center;
}

table.title{
    text-align: center;
}